/*设置导航条右浮动*/
header .navbar-collapse ul.navbar-nav{
	float: right;
	/*width: 80%;*/
	margin: 0 auto;
	/*border: 1px solid #f00;*/	
}
@media (max-width:768px){
	header .navbar-collapse ul.navbar-nav{
		width: 100%;
	}
	.flexslider .flex-caption{
		display: none;
		/*手机上不显示标题*/
	}
}
/*设置导航条的最小高度*/
header .navbar{
	min-height: 70px;
	padding: 20px 0;
	background-color: #fff;
}
/*设置导航条中active的样式*/
.navbar .nav .active a{
	background:none !important;
	border: 1px solid #E48907;
}
/*设置宽度为100%,解决因为浮动引起的缩小*/
header .navbar-default{
	width: 100%;
}
.navbar-nav li a{
	display: block;
}
.navbar-default{
	position: relative;
}
/*幻灯样式*/
.flexslider{
	/*position: relative;*/
}
.flex-caption{
	color: #fff;
	background-color: transparent;
	position: absolute;
	top: 160px;
	left: 450px;
	
	
}
.flex-caption h3{
	font-size: 38px;
	font-weight: bold;
	text-transform: uppercase;
	opacity: 0.7;
	text-shadow: 5px 5px 10px rgba(255,0,0,0.3);
}

/*我们的产品*/
/*设置网页上文字的样式*/
p{
	line-height: 1.6em;
	margin-bottom: 10px;
	/*color: #656565;*/
}
.skill-home .iconfont{
	/*border: 1px solid #f00;*/
	font-size: 42px;
	padding: 36px 0 14px 0;
	color: #E48907;
	text-align: center;
}
.skill-home h3{
	font-size: 20px;
	font-weight: 600;
}
.skill-home a{
	color: #0c1f5a;
}
.skill-home .box:hover{
	background-color: #E48907;
	cursor: pointer;
	color: #fff;
}
/*鼠标移动到box上,修改头像的颜色*/
.skill-home .box:hover .iconfont{
	color: #fff;
}
.skill-home .box{
	border: 1px solid #D4D4D4;
}
.skill-home .box p{
	margin-bottom: 10px;
}

/*about us*/
.aboutus img{
	width: 100%;
}
.aboutus{
	padding: 50px 0 0;
	background-color: #F5F5F5;
}
.aboutus p{
	line-height: 2em;
}

/*footer*/
footer{
	padding: 50px 0 0 0;
	color: #949494;
	background-color: #080808;
}
footer a{
	color: #949494;
}
footer a:hover{
	color: #eee;
}
footer h5{
	color: #fff;
}
footer address{
	line-height: 1.6em;
}
footer a:hover{
	text-decoration: none;
}
ul.link-list{
	padding: 0;
	margin: 0;
	list-style: none;
}
ul.link-list li{
	margin: 0;
	padding: 2px 0;
}
ul.link-list li a:hover{
	color: #EEEEEE;
}
